<div class="hero-unit geddy-welcome-box">
  <h2>Manage Your ToDo List</h2>
  <p><%- linkTo('Lets get you started »', todosPath, {class: 'btn btn-primary btn-large'}) %></p>
</div>
 <div id="todo_list_image">
</div>
